
@{
    ViewData["Title"] = "Content Page";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Contacts.css" asp-append-version="true" />

<style>



</style>    


</head>
<body>
    
  
   <div>
    <h1 style="text-align:center">Index.MAILS</h1> 
  </div>
<br>   
<br>  
<br>  
<br>  
<br>  
<br>   
<br>  
<br>  
<br>  
<br> 
<br>   
<br>  
<br>  
<br>  
<br>  
<br>   
<br>  
<br>  
<br>  
<br> 
<br>  
<br>  
<br>   
<br>
<br>

</body>
</html>
