@{
    ViewData["Title"] = "About this Application";
}


<!DOCTYPE html>
<html>
    <head>

    <link rel="stylesheet" href="~/css/Contacts.css" asp-append-version="true" />
  
  <style>

   
body{
    background-image: url("/Images/5.jpg");
}

   </style>

    </head>


<body>
    <div style="padding-top:200px" >
    <h1 style="padding:auto;background-color:white">Like a Blogging Website</h1>
     <h1 style="padding-bottom:auto;background-color:white">This webiste is developed by team of enthuashtic developers. </h1>
    </div>
   <br>   
<br>  
 
 
  
<br>  
<br>  
<br>  
<br>  
<br>   
<br>  
<br>  
<br>  
<br> 
<br>  



</body>
</html>