@{
    ViewData["Title"] = "Developer Contacts List";
}


<link rel="stylesheet" href="~/css/Contacts.css" asp-append-version="true" />





<html>
  <head >

 <style>

body{
  background-image: url("/Images/3.jpg");
}

</style>


   </head>
   <body>
    
  <div style="background-color:white">
    <h1 style="text-align:center">@ViewData["Title"]</h1>
      <div style="text-align:center;" >
        <li class="list-group-item">GIFTSON  -  9234567892</li>
        
      </div>
      <div style="text-align:center;>
      <li class="list-group-item">SACHIN   - 9182736451</li>
      </div>
 </div>

 <br>
  <br> <br> <br> <br> <br> <br> <br> <br>
  <br> <br> <br> <br> <br> <br> <br> <br>
  <br> <br> <br> <br> <br>

   </body>
</html>